<!DOCTYPE html>
<html>
<head>
  <title>X api client</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- %= stylesheet_link_tag    "x_api_client/application", media: "all" % -->
</head>
<body>

<%= yield %>

</body>
</html>
